/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #202020;
    color: #fff;
    line-height: 1.6;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    background-color: #202020;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  header nav a {
    margin-left: 20px;
  }
  
  header nav img {
    width: 30px;
    height: 30px;
    filter: brightness(0.8);
    transition: filter 0.3s ease;
  }
  
  header nav img:hover {
    filter: brightness(1);
  }
  
  /* Main Content */
  .content {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px 100px;
    position: relative;
    height: auto; /* Adjust height automatically */
    min-height: 400px; /* Ensure content area has a minimum height */
  }
  
  /* Gradient Decoration */
  .gradient {
    width: 8px;
    background: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 100%; /* Match the height of the content */
  }

  .gradient-text {
    background-image: linear-gradient(45deg, #C850C0 16%, #FFCC70 100%);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  
  /* Welcome Section */
  .welcome {
    flex: 2;
    max-width: 60%;
    position: relative; /* Enable absolute positioning of the pseudo-element */
    padding: 50px;
  }
  
  .welcome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;  /* Move the border slightly outside */
    width: 3px;  /* Border width */
    height: 100%; /* Full height of the section */
    border-left: 3px solid transparent; /* Left border */
    border-image: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%) 1;
  }
  
  .welcome h1 {
    font-size: 100px;
    margin-bottom: 20px;
    font-weight: 100;
  }
  
  .welcome p {
    margin-bottom: 20px;
  }

  /* Button Styling */
  .download-btn {
    display: inline-block;
    background: linear-gradient(45deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .download-btn:hover {
    background: linear-gradient(45deg, #C850C0 46%, #4158D0 100%);
  }
  
  /* Projects Section */
  .projects {
    flex: 1;
    margin-left: 40px;
    position: relative; /* Allow for absolute positioning of the pseudo-element */
    padding: 40px;
  }
  
  .projects::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    border-top: 3px solid transparent;  /* Top border */
    border-left: 3px solid transparent; /* Left border */
    border-image: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%) 1;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 200;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300;
  }
  
  .projects ul {
    list-style: none;
    padding: 0;
  }
  
  .projects li {
    margin: 10px 0;
  }
  
  .projects a {
    color: #FFCC70;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .projects a:hover {
    background-image: linear-gradient(45deg, #e75ede 16%, #FFCC70 100%);
    -webkit-background-clip: text;
    color: transparent;
  }
  
  /* Classes */

  .classes {
    padding: 80px 100px;
    position: relative;
    height: auto; /* Adjust height automatically */
    min-height: 400px; /* Ensure content area has a minimum height */
  }

  .carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  #carousel-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    transition: all .3s ease-in-out;
  }

  .carousel-list-item {
    flex: 0 0 auto;
    width: 300px;
    height: 100%;
    position: relative;
    padding: 20px;
    margin: 0 10px;
    background-color: #181818;
  }

  .carousel-list-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;  /* Border width */
    height: 100%; /* Full height of the section */
    border-left: 3px solid transparent; /* Left border */
    border-image: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%) 1;
  }

  /* Carousel Buttons */
  button.left-button,
  button.right-button {
    background: linear-gradient(45deg, #C850C0, #4158D0);
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  button.left-button {
    left: 0px;
  }

  button.right-button {
    right: 0px;
  }

  button.left-button:hover,
  button.right-button:hover {
    background: linear-gradient(45deg, #4158D0, #C850C0);
  }

  /* Footer */
  footer {
    background-color: #202020;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #999;
  }
  